In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("BD_POQUEIRA_CLAS_TFG_RICARDO.csv")

In [6]:
df[0:5]

,num_plate_ID,total_time_POQ,total_distance,total_holiday,total_workday,total_high_season,total_low_season,entry_in_high_season,entry_in_holiday,nights,...,actual_entry_east,actual_entry_hour_morning,actual_entry_hour_afternoon,actual_entry_hour_night,actual_entry_hour_dawn,actual_entry_in_holiday,actual_entry_in_high_season,actual_nights,actual_visit_time,actual_distance
0,0,381 days 10:52:37,91.5,131.0,263.0,32.0,362.0,1.0,4.0,380.0,...,True,False,False,True,False,False,False,50,49 days 14:06:26,7.0
1,1,92 days 21:54:09,359.5,35.0,78.0,9.0,104.0,1.0,3.0,94.0,...,True,False,True,False,False,False,True,0,0 days 00:15:17,2.0
2,2,237 days 18:28:27,2806.0,87.0,375.0,75.0,387.0,33.0,5.0,231.0,...,False,True,False,False,False,False,True,0,0 days 00:33:24,8.5
3,3,17 days 21:51:48,5.0,6.0,13.0,0.0,19.0,0.0,0.0,18.0,...,False,False,True,False,False,False,False,8,7 days 19:51:46,13.0
4,7,274 days 06:13:19,475.5,96.0,212.0,45.0,263.0,3.0,7.0,273.0,...,False,True,False,False,False,True,True,0,0 days 02:34:40,8.5