# Región Pampaneira


Debido al largo contenido del primer Pipeline, que incluye un analisis exploratorio de los
datos y teniendo en cuenta que hay que restringirse a la región de Pampaneira para realizar el 
el objetivo principal de generar datos mediante modelos transformer, se ha creado un Notebook
Pipeline2.

In [13]:
import pandas as pd
from transformers import pipeline

pd.options.mode.chained_assignment = None

In [14]:
trafico_feb22_ago23 = pd.read_csv('../data/trafico_feb22_ago23.csv')

In [15]:
# PAM_1 y BUB
columns = ['vehicles_PAM_1_OUT',
 'vehicles_PAM_1_OUT_Zona_Granada',
 'vehicles_PAM_1_OUT_Zona_Catalunia_y_Otras',
 'vehicles_PAM_1_OUT_Zona_Andalucia_no_GR',
 'vehicles_PAM_1_OUT_Extranjero',
 'vehicles_PAM_1_OUT_Zona_Comunidad_de_Madrid',
 'vehicles_PAM_1_OUT_Zona_Extremadura_y_Otras',
 'vehicles_PAM_1_OUT_Zona_Otras',
 'vehicles_PAM_1_OUT_5_seats',
 'vehicles_PAM_1_OUT_+5_seats',
 'vehicles_PAM_1_OUT_-5_seats',
 'vehicles_PAM_1_OUT_nan_seats',
 'vehicles_PAM_1_OUT_101-200_CO2',
 'vehicles_PAM_1_OUT_0-100_CO2',
 'vehicles_PAM_1_OUT_nan_CO2',
 'vehicles_PAM_1_OUT_201-300_CO2',
 'vehicles_PAM_1_OUT_+300_CO2',
 'vehicles_PAM_1_IN',
 'vehicles_PAM_1_IN_Zona_Granada',
 'vehicles_PAM_1_IN_Zona_Catalunia_y_Otras',
 'vehicles_PAM_1_IN_Zona_Andalucia_no_GR',
 'vehicles_PAM_1_IN_Extranjero',
 'vehicles_PAM_1_IN_Zona_Comunidad_de_Madrid',
 'vehicles_PAM_1_IN_Zona_Extremadura_y_Otras',
 'vehicles_PAM_1_IN_Zona_Otras',
 'vehicles_PAM_1_IN_5_seats',
 'vehicles_PAM_1_IN_+5_seats',
 'vehicles_PAM_1_IN_-5_seats',
 'vehicles_PAM_1_IN_nan_seats',
 'vehicles_PAM_1_IN_101-200_CO2',
 'vehicles_PAM_1_IN_0-100_CO2',
 'vehicles_PAM_1_IN_nan_CO2',
 'vehicles_PAM_1_IN_201-300_CO2',
 'vehicles_PAM_1_IN_+300_CO2',
 'vehicles_PAM_2_OUT',
 'vehicles_PAM_2_OUT_Zona_Granada',
 'vehicles_PAM_2_OUT_Zona_Catalunia_y_Otras',
 'vehicles_PAM_2_OUT_Zona_Andalucia_no_GR',
 'vehicles_PAM_2_OUT_Extranjero',
 'vehicles_PAM_2_OUT_Zona_Comunidad_de_Madrid',
 'vehicles_PAM_2_OUT_Zona_Extremadura_y_Otras',
 'vehicles_PAM_2_OUT_Zona_Otras',
 'vehicles_PAM_2_OUT_5_seats',
 'vehicles_PAM_2_OUT_+5_seats',
 'vehicles_PAM_2_OUT_-5_seats',
 'vehicles_PAM_2_OUT_nan_seats',
 'vehicles_PAM_2_OUT_101-200_CO2',
 'vehicles_PAM_2_OUT_0-100_CO2',
 'vehicles_PAM_2_OUT_nan_CO2',
 'vehicles_PAM_2_OUT_201-300_CO2',
 'vehicles_PAM_2_OUT_+300_CO2',
 'vehicles_PAM_2_IN',
 'vehicles_PAM_2_IN_Zona_Granada',
 'vehicles_PAM_2_IN_Zona_Catalunia_y_Otras',
 'vehicles_PAM_2_IN_Zona_Andalucia_no_GR',
 'vehicles_PAM_2_IN_Extranjero',
 'vehicles_PAM_2_IN_Zona_Comunidad_de_Madrid',
 'vehicles_PAM_2_IN_Zona_Extremadura_y_Otras',
 'vehicles_PAM_2_IN_Zona_Otras',
 'vehicles_PAM_2_IN_5_seats',
 'vehicles_PAM_2_IN_+5_seats',
 'vehicles_PAM_2_IN_-5_seats',
 'vehicles_PAM_2_IN_nan_seats',
 'vehicles_PAM_2_IN_101-200_CO2',
 'vehicles_PAM_2_IN_0-100_CO2',
 'vehicles_PAM_2_IN_nan_CO2',
 'vehicles_PAM_2_IN_201-300_CO2',
 'vehicles_PAM_2_IN_+300_CO2',
 'vehicles_BUB_OUT',
 'vehicles_BUB_OUT_Zona_Granada',
 'vehicles_BUB_OUT_Zona_Catalunia_y_Otras',
 'vehicles_BUB_OUT_Zona_Andalucia_no_GR',
 'vehicles_BUB_OUT_Extranjero',
 'vehicles_BUB_OUT_Zona_Comunidad_de_Madrid',
 'vehicles_BUB_OUT_Zona_Extremadura_y_Otras',
 'vehicles_BUB_OUT_Zona_Otras',
 'vehicles_BUB_OUT_5_seats',
 'vehicles_BUB_OUT_+5_seats',
 'vehicles_BUB_OUT_-5_seats',
 'vehicles_BUB_OUT_nan_seats',
 'vehicles_BUB_OUT_101-200_CO2',
 'vehicles_BUB_OUT_0-100_CO2',
 'vehicles_BUB_OUT_nan_CO2',
 'vehicles_BUB_OUT_201-300_CO2',
 'vehicles_BUB_OUT_+300_CO2',
 'vehicles_BUB_IN',
 'vehicles_BUB_IN_Zona_Granada',
 'vehicles_BUB_IN_Zona_Catalunia_y_Otras',
 'vehicles_BUB_IN_Zona_Andalucia_no_GR',
 'vehicles_BUB_IN_Extranjero',
 'vehicles_BUB_IN_Zona_Comunidad_de_Madrid',
 'vehicles_BUB_IN_Zona_Extremadura_y_Otras',
 'vehicles_BUB_IN_Zona_Otras',
 'vehicles_BUB_IN_5_seats',
 'vehicles_BUB_IN_+5_seats',
 'vehicles_BUB_IN_-5_seats',
 'vehicles_BUB_IN_nan_seats',
 'vehicles_BUB_IN_101-200_CO2',
 'vehicles_BUB_IN_0-100_CO2',
 'vehicles_BUB_IN_nan_CO2',
 'vehicles_BUB_IN_201-300_CO2',
 'vehicles_BUB_IN_+300_CO2']

trafico_feb22_ago23["date"] = pd.to_datetime(trafico_feb22_ago23["date"])
trafico_feb22_ago23["date"] = trafico_feb22_ago23["date"].dt.tz_convert('UTC')

df_orig = trafico_feb22_ago23[["date"] + columns]
columnas_int64 = df_orig.select_dtypes(include='int64').columns

# Convertir esas columnas a float64
df_orig[columnas_int64] = df_orig[columnas_int64].astype('float64')

df_orig

,date,vehicles_PAM_1_OUT,vehicles_PAM_1_OUT_Zona_Granada,vehicles_PAM_1_OUT_Zona_Catalunia_y_Otras,vehicles_PAM_1_OUT_Zona_Andalucia_no_GR,vehicles_PAM_1_OUT_Extranjero,vehicles_PAM_1_OUT_Zona_Comunidad_de_Madrid,vehicles_PAM_1_OUT_Zona_Extremadura_y_Otras,vehicles_PAM_1_OUT_Zona_Otras,vehicles_PAM_1_OUT_5_seats,...,vehicles_BUB_IN_Zona_Otras,vehicles_BUB_IN_5_seats,vehicles_BUB_IN_+5_seats,vehicles_BUB_IN_-5_seats,vehicles_BUB_IN_nan_seats,vehicles_BUB_IN_101-200_CO2,vehicles_BUB_IN_0-100_CO2,vehicles_BUB_IN_nan_CO2,vehicles_BUB_IN_201-300_CO2,vehicles_BUB_IN_+300_CO2
0,2022-02-04 12:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-02-04 13:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-02-04 14:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-02-04 15:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-02-04 16:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,2023-08-31 19:00:00+00:00,18.0,8.0,5.0,1.0,1.0,1.0,2.0,0.0,16.0,...,0.0,28.0,6.0,3.0,5.0,16.0,3.0,23.0,0.0,0.0
10026,2023-08-31 20:00:00+00:00,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,21.0,2.0,1.0,2.0,11.0,3.0,11.0,1.0,0.0
10027,2023-08-31 21:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10028,2023-08-31 22:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10029,2023-08-31 23:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
trafico_contamina_interseccion = pd.read_csv('../data/trafico_contamina_intersección.csv')
trafico_contamina_interseccion["Date"] = pd.to_datetime(trafico_contamina_interseccion["Date"])
trafico_contamina_interseccion["Date"] = trafico_contamina_interseccion["Date"].dt.tz_localize("UTC")
trafico_contamina_interseccion.rename(columns={'Date': 'date'}, inplace=True)

In [17]:
columns_interseccion = ["CO", "NO2", "NO", "O3", "SO2", "PM10", "eBC_tot", "eBC_ff", "eBC_bb", "TEMP", "RH", "WS", "WD", "PRES", "eBC"]

trafico_pam = trafico_contamina_interseccion[trafico_contamina_interseccion["truck_pos"] == "PAM_2"]

df_int = trafico_pam[["date"] + columns_interseccion]
columnas_int64 = df_int.select_dtypes(include='int64').columns

# Convertir esas columnas a float64
df_int[columnas_int64] = df_int[columnas_int64].astype('float64')

df_int

,date,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC
842,2023-01-17 17:00:00+00:00,0.27,2.2,0.8,NaN,NaN,15.4,NaN,NaN,NaN,9.8,47.7,NaN,NaN,878.7,NaN
843,2023-01-17 18:00:00+00:00,0.24,2.5,0.5,NaN,NaN,8.8,NaN,NaN,NaN,8.6,54.5,NaN,NaN,878.7,NaN
844,2023-01-17 19:00:00+00:00,0.22,2.2,0.3,NaN,NaN,15.7,NaN,NaN,NaN,8.3,48.0,NaN,NaN,878.5,NaN
845,2023-01-17 20:00:00+00:00,0.21,2.2,0.2,NaN,NaN,10.2,NaN,NaN,NaN,7.8,50.2,NaN,NaN,879.0,NaN
846,2023-01-17 21:00:00+00:00,0.22,1.9,0.2,NaN,NaN,9.9,NaN,NaN,NaN,7.4,52.3,NaN,NaN,878.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,2023-06-26 19:00:00+00:00,0.26,8.8,1.5,111.4,1.49,7.8,NaN,0.6,0.1,31.4,21.5,1.12,246.34,893.3,0.7
2173,2023-06-26 20:00:00+00:00,0.27,3.9,0.4,99.6,1.22,23.0,NaN,0.3,0.1,28.8,26.0,0.81,7.46,893.6,0.4
2174,2023-06-26 21:00:00+00:00,0.26,5.1,0.1,78.8,1.08,11.3,NaN,0.4,0.1,25.7,29.5,1.06,129.23,893.9,0.4
2175,2023-06-26 22:00:00+00:00,0.26,5.8,0.1,77.4,1.23,1.9,NaN,0.2,0.1,24.7,27.9,1.25,133.45,894.3,0.3
2176,2023-06-27 00:00:00+00:00,0.27,1.4,0.1,84.3,1.03,14.3,NaN,0.1,0.1,24.2,30.3,1.49,123.34,894.5,0.2

## Interpolación para completar los valores nulos.

## Rellenar del df_int las horas faltantes con valores NaN

En los datos del camión, poner un registro por cada hora. 
Si no se encuentra, añadir todos NaN.

El método de pandas date_range devuelve el rango de datetimes igualmente espaciados (dada una frecuencia) entre un inicio y un final (por defecto ambos inclusive). El tipo de dato que devuelve es DatetimeIndex.
Dado que disponemos de dos periodos de fechas con datos disponibles (1er periodo: 17/01/2023-14/03/2023 y 2do periodo 06/06/2023-27/06/2023) realizaremos otro rango para el segundo periodo y lo uniremos mediante el método union perteneciente a la clase Index.

Explicación paso a paso:
- `set_index('date')`: 
Convierte la columna 'date' en el índice del DataFrame df_int.
- `reindex(full_date_range)`
Rellena el DataFrame para que tenga todas las fechas en full_date_range, incluso si algunas no estaban en df_int.
Esto es útil si hay fechas faltantes y quieres asegurar de que el índice sea continuo.
reset_index()

Devuelve la columna de fecha como una columna normal en lugar de mantenerla como índice.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Supongamos que el DataFrame inicial es df_int con columnas 'date'

# Definir los dos períodos
start_date_1 = pd.to_datetime("2023-01-17 17:00:00+00:00")
end_date_1 = pd.to_datetime("2023-03-14 11:00:00+00:00")

start_date_2 = pd.to_datetime("2023-06-06 13:00:00+00:00")
end_date_2 = pd.to_datetime("2023-06-27 00:00:00+00:00")

# Crear un rango completo de fechas con frecuencia horaria para ambos períodos combinados
full_date_range = pd.date_range(start=start_date_1, end=end_date_1, freq='h').union(
    pd.date_range(start=start_date_2, end=end_date_2, freq='h')
)

# Asegurar que 'date' sea de tipo datetime
df_int['date'] = pd.to_datetime(df_int['date'])

# Reindexar para completar las horas faltantes
df_int = df_int.set_index('date').reindex(full_date_range).reset_index()
df_int = df_int.rename(columns={'index': 'date'})

df_int

,date,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC
0,2023-01-17 17:00:00+00:00,0.27,2.2,0.8,NaN,NaN,15.4,NaN,NaN,NaN,9.8,47.7,NaN,NaN,878.7,NaN
1,2023-01-17 18:00:00+00:00,0.24,2.5,0.5,NaN,NaN,8.8,NaN,NaN,NaN,8.6,54.5,NaN,NaN,878.7,NaN
2,2023-01-17 19:00:00+00:00,0.22,2.2,0.3,NaN,NaN,15.7,NaN,NaN,NaN,8.3,48.0,NaN,NaN,878.5,NaN
3,2023-01-17 20:00:00+00:00,0.21,2.2,0.2,NaN,NaN,10.2,NaN,NaN,NaN,7.8,50.2,NaN,NaN,879.0,NaN
4,2023-01-17 21:00:00+00:00,0.22,1.9,0.2,NaN,NaN,9.9,NaN,NaN,NaN,7.4,52.3,NaN,NaN,878.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826,2023-06-26 20:00:00+00:00,0.27,3.9,0.4,99.6,1.22,23.0,NaN,0.3,0.1,28.8,26.0,0.81,7.46,893.6,0.4
1827,2023-06-26 21:00:00+00:00,0.26,5.1,0.1,78.8,1.08,11.3,NaN,0.4,0.1,25.7,29.5,1.06,129.23,893.9,0.4
1828,2023-06-26 22:00:00+00:00,0.26,5.8,0.1,77.4,1.23,1.9,NaN,0.2,0.1,24.7,27.9,1.25,133.45,894.3,0.3
1829,2023-06-26 23:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1830,2023-06-27 00:00:00+00:00,0.27,1.4,0.1,84.3,1.03,14.3,NaN,0.1,0.1,24.2,30.3,1.49,123.34,894.5,0.2

## Periodo_1

In [19]:
len(df_int.columns)

16

In [20]:
df_int["date"] = pd.to_datetime(df_int["date"])
df_int.set_index("date", inplace=True)

## División Por Periodos

In [21]:
import pandas as pd

# Definir los periodos
periodo_1 = df_int.loc["2023-01-17":"2023-03-14"]
periodo_2 = df_int.loc["2023-06-06":"2023-06-27"]

In [22]:
periodo_1

,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC
date,,,,,,,,,,,,,,,
2023-01-17 17:00:00+00:00,0.27,2.2,0.8,NaN,NaN,15.4,NaN,NaN,NaN,9.8,47.7,NaN,NaN,878.7,NaN
2023-01-17 18:00:00+00:00,0.24,2.5,0.5,NaN,NaN,8.8,NaN,NaN,NaN,8.6,54.5,NaN,NaN,878.7,NaN
2023-01-17 19:00:00+00:00,0.22,2.2,0.3,NaN,NaN,15.7,NaN,NaN,NaN,8.3,48.0,NaN,NaN,878.5,NaN
2023-01-17 20:00:00+00:00,0.21,2.2,0.2,NaN,NaN,10.2,NaN,NaN,NaN,7.8,50.2,NaN,NaN,879.0,NaN
2023-01-17 21:00:00+00:00,0.22,1.9,0.2,NaN,NaN,9.9,NaN,NaN,NaN,7.4,52.3,NaN,NaN,878.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-14 07:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-14 08:00:00+00:00,0.24,5.4,0.6,53.4,0.82,NaN,NaN,NaN,NaN,8.7,58.3,NaN,NaN,889.1,NaN
2023-03-14 09:00:00+00:00,0.25,8.0,2.0,51.4,0.91,NaN,NaN,NaN,NaN,9.3,59.1,NaN,NaN,889.6,NaN
2023-03-14 10:00:00+00:00,0.25,6.8,1.2,57.9,1.04,NaN,NaN,NaN,NaN,10.6,56.6,NaN,NaN,890.6,NaN
2023-03-14 11:00:00+00:00,0.30,8.2,3.1,66.0,0.79,NaN,NaN,NaN,NaN,14.4,56.7,NaN,NaN,891.0,NaN

In [23]:
periodo_2

,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC
date,,,,,,,,,,,,,,,
2023-06-06 13:00:00+00:00,NaN,NaN,NaN,104.8,NaN,NaN,NaN,0.7,0.2,23.9,39.1,1.40,248.04,887.6,0.9
2023-06-06 14:00:00+00:00,NaN,5.0,1.1,104.6,0.52,NaN,NaN,0.6,0.1,23.5,49.0,1.59,255.86,887.2,0.7
2023-06-06 15:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-06 16:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-06 17:00:00+00:00,NaN,4.6,1.6,102.9,0.52,NaN,NaN,0.8,0.1,24.0,44.8,1.28,257.21,886.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-26 20:00:00+00:00,0.27,3.9,0.4,99.6,1.22,23.0,NaN,0.3,0.1,28.8,26.0,0.81,7.46,893.6,0.4
2023-06-26 21:00:00+00:00,0.26,5.1,0.1,78.8,1.08,11.3,NaN,0.4,0.1,25.7,29.5,1.06,129.23,893.9,0.4
2023-06-26 22:00:00+00:00,0.26,5.8,0.1,77.4,1.23,1.9,NaN,0.2,0.1,24.7,27.9,1.25,133.45,894.3,0.3
2023-06-26 23:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-27 00:00:00+00:00,0.27,1.4,0.1,84.3,1.03,14.3,NaN,0.1,0.1,24.2,30.3,1.49,123.34,894.5,0.2

## Graficar el primer periodo de las tres variables de contaminación

In [24]:

# Parámetros de los gráficos
fig, axes = plt.subplots(3, 1, figsize=(12, 8), sharex=True)
contaminantes = ["CO", "NO2", "PM10"]
colores = ["blue", "red", "green"]

for i, contaminante in enumerate(contaminantes):
    axes[i].plot(periodo_1.index, periodo_1[contaminante], label=f"{contaminante} - Periodo 1", color=colores[i])
    axes[i].plot(periodo_2.index, periodo_2[contaminante], label=f"{contaminante} - Periodo 2", linestyle="dashed", color=colores[i])
    axes[i].set_ylabel(contaminante)
    axes[i].legend()

axes[-1].set_xlabel("Fecha")
plt.suptitle("Evolución de contaminantes en dos períodos")
plt.xticks(rotation=45)
plt.xticks(pd.date_range(start=periodo_1.index.min(), end=periodo_1.index.max(), freq='W')
           .union(pd.date_range(start=periodo_2.index.min(), end=periodo_2.index.max(), freq='W')), rotation=45)
plt.tight_layout()
plt.show()

ValueError: Multi-dimensional indexing (e.g. `obj[:, None]`) is no longer supported. Convert to a numpy array before indexing instead.

/Users/eigenric/.local/share/virtualenvs/TFG--n4J6ECg/lib/python3.11/site-packages/IPython/core/pylabtools.py:170: MatplotlibDeprecationWarning: savefig() got unexpected keyword argument "orientation" which is no longer supported as of 3.3 and will become an error two minor releases later
  fig.canvas.print_figure(bytes_io, **kw)

AttributeError: `np.Inf` was removed in the NumPy 2.0 release. Use `np.inf` instead.

## Identificación de ráfagas de valores nulos

## División en meses

In [9]:
import pandas as pd

cols = ["CO", "NO2", "NO", "O3", "SO2", "PM10", "eBC_ff", "eBC_bb", "TEMP", "RH", "WS", "WD", "PRES", "eBC"]

# Verificar cuántos valores no NaN hay en cada columna
non_nan_counts = df_int[cols].notna().sum()
print("Valores no NaN por columna:")
print(non_nan_counts)

for col in cols:
    if df_int[col].notna().sum() > 1: 
        df_int[col] = df_int[col].interpolate(method="spline", order=3, limit_direction="both")
        if col in ('eBC_bb', 'SO2', "PM10"):
            df_int[col] = df_int[col].clip(lower=0)  # Asegura que los valores sean >= 0
        
    # Rellenar valores NaN al principio o al final con el valor más cercano
    #df_int[col] = df_int[col].fillna(method='bfill').fillna(method='pad')

# Verificar el número de valores NaN después de los intentos de interpolación
nan_count_after_interpolation = df_int[cols].isna().sum()
print("\nValores NaN después de la interpolación y relleno:")
print(nan_count_after_interpolation)

Valores no NaN por columna:
CO        1323
NO2       1326
NO        1326
O3        1318
SO2        852
PM10      1023
eBC_ff    1099
eBC_bb    1099
TEMP      1334
RH        1334
WS         867
WD         867
PRES      1334
eBC       1100
dtype: int64

Valores NaN después de la interpolación y relleno:
CO        0
NO2       0
NO        0
O3        0
SO2       0
PM10      0
eBC_ff    0
eBC_bb    0
TEMP      0
RH        0
WS        0
WD        0
PRES      0
eBC       0
dtype: int64

Notamos que en el conjunto interseccion todos los valores de `eBC_tot` son nulos. 

Por tanto eliminamos la columna,interpolamos `eBC_ff` y `eBC_bb`y luego fijamos `eBC_tot` a la suma de ambos.

In [93]:
df_int["eBC_tot"] = df_int["eBC_ff"] + df_int["eBC_bb"]
df_int

,date,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC,is_nan,group
0,2023-01-17 17:00:00+00:00,0.270000,2.200000,0.800000,708.028388,0.000000,15.400000,0.204374,0.204374,0.000000,9.800000,47.70000,1.356508,269.620962,878.700000,0.010137,False,1.0
1,2023-01-17 18:00:00+00:00,0.240000,2.500000,0.500000,632.885679,0.000000,8.800000,0.204596,0.204596,0.000000,8.600000,54.50000,1.356985,181.260077,878.700000,0.011483,False,1.0
2,2023-01-17 19:00:00+00:00,0.220000,2.200000,0.300000,563.903443,0.000000,15.700000,0.204817,0.204817,0.000000,8.300000,48.00000,1.357462,121.647526,878.500000,0.012826,False,1.0
3,2023-01-17 20:00:00+00:00,0.210000,2.200000,0.200000,500.822311,0.000000,10.200000,0.205038,0.205038,0.000000,7.800000,50.20000,1.357939,86.774371,879.000000,0.014166,False,1.0
4,2023-01-17 21:00:00+00:00,0.220000,1.900000,0.200000,443.382913,0.000000,9.900000,0.205258,0.205258,0.000000,7.400000,52.30000,1.358414,72.631675,878.300000,0.015503,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,2023-06-26 20:00:00+00:00,0.270000,3.900000,0.400000,99.600000,1.220000,23.000000,0.400000,0.300000,0.100000,28.800000,26.00000,0.810000,7.460000,893.600000,0.400000,False,79.0
1803,2023-06-26 21:00:00+00:00,0.260000,5.100000,0.100000,78.800000,1.080000,11.300000,0.500000,0.400000,0.100000,25.700000,29.50000,1.060000,129.230000,893.900000,0.400000,False,79.0
1804,2023-06-26 22:00:00+00:00,0.260000,5.800000,0.100000,77.400000,1.230000,1.900000,0.300000,0.200000,0.100000,24.700000,27.90000,1.250000,133.450000,894.300000,0.300000,False,79.0
1805,2023-06-26 23:00:00+00:00,0.303878,5.260022,0.426009,85.748450,1.532778,20.089592,0.597677,0.548349,0.049328,24.333268,24.37782,1.049588,-343.061051,895.194896,0.599205,NaN,NaN
1806,2023-06-27 00:00:00+00:00,0.270000,1.400000,0.100000,84.300000,1.030000,14.300000,0.200000,0.100000,0.100000,24.200000,30.30000,1.490000,123.340000,894.500000,0.200000,False,79.0

In [32]:
## Aumentar los datos 
## 
## Validar los datos con el segundo periodo

## Normalización

## RobustScaler vs MinMaxScaler

### MinMaxScaler
Deja los valores en el intervalo $[0,1]$.
### RobustScaler

$$\frac{x_i - Q_1(x)}{Q_3(x) - Q_1(x)}$$

Duda: ¿valores negativos?

In [94]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
import pandas as pd

# Suponemos que 'df_int' es el DataFrame original con los datos

# Seleccionar las columnas numéricas
numerical_cols = df_int.select_dtypes(include=('float', 'int')).columns

# Escalar los datos con StandardScaler ( MinMaxScaler o RobustScaler)
scaler = RobustScaler()
df_scaled = scaler.fit_transform(df_int[numerical_cols])

# Convertir la salida de la escala (numpy ndarray) de nuevo a un DataFrame
df_scaled = pd.DataFrame(df_scaled, columns=numerical_cols)

# Combinar las columnas escaladas con las columnas no numéricas (no escaladas)
df_int = pd.concat([df_int.drop(columns=numerical_cols).reset_index(drop=True), 
                           df_scaled.reset_index(drop=True)], axis=1)

df_int[numerical_cols] = df_int[numerical_cols].clip(lower=0)
df_int

,date,is_nan,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC,group
0,2023-01-17 17:00:00+00:00,False,0.568078,0.000000,0.543702,32.122724,0.000000,0.291496,0.000000,0.000000,0.000000,0.095578,0.0,0.000000,0.012673,0.000000,0.000000,0.000000
1,2023-01-17 18:00:00+00:00,False,0.000000,0.000000,0.000000,28.302401,0.000000,0.000000,0.000000,0.000000,0.000000,0.005957,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,2023-01-17 19:00:00+00:00,False,0.000000,0.000000,0.000000,24.795282,0.000000,0.309715,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,2023-01-17 20:00:00+00:00,False,0.000000,0.000000,0.000000,21.588180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,2023-01-17 21:00:00+00:00,False,0.000000,0.000000,0.000000,18.667910,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,2023-06-26 20:00:00+00:00,False,0.568078,0.164444,0.000000,1.189677,0.494340,0.753033,0.000000,0.061338,0.269643,1.514573,0.0,0.000000,0.000000,0.752330,0.000000,0.790323
1803,2023-06-26 21:00:00+00:00,False,0.284039,0.621515,0.000000,0.132186,0.350010,0.042510,0.380888,0.561338,0.269643,1.283053,0.0,0.000000,0.000000,0.794126,0.000000,0.790323
1804,2023-06-26 22:00:00+00:00,False,0.284039,0.888140,0.000000,0.061009,0.504650,0.000000,0.000000,0.000000,0.269643,1.208369,0.0,0.000000,0.000000,0.849854,0.000000,0.790323
1805,2023-06-26 23:00:00+00:00,NaN,1.530331,0.682466,0.000000,0.485452,0.816792,0.576288,0.752927,1.303083,0.000000,1.180980,0.0,0.000000,0.000000,0.974531,0.731042,NaN
1806,2023-06-27 00:00:00+00:00,False,0.568078,0.000000,0.000000,0.411811,0.298464,0.224695,0.000000,0.000000,0.269643,1.171027,0.0,0.257233,0.000000,0.877718,0.000000,0.790323

In [95]:
# Convertir la fecha a timestamp con la hora y zona horaria (en segundos desde la época de Unix)
# df_int['date'] = (df_int['date'] - pd.Timestamp('1970-01-01 00:00:00+00:00')) // pd.Timedelta('1s')
# df_int['date'] = df_int['date'].astype(np.float64)
df_int_sin_date = df_int.drop(columns=['date', 'is_nan', 'group'])
df_int_sin_date

,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC
0,0.568078,0.000000,0.543702,32.122724,0.000000,0.291496,0.000000,0.000000,0.000000,0.095578,0.0,0.000000,0.012673,0.000000,0.000000
1,0.000000,0.000000,0.000000,28.302401,0.000000,0.000000,0.000000,0.000000,0.000000,0.005957,0.0,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,24.795282,0.000000,0.309715,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,21.588180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,18.667910,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,0.568078,0.164444,0.000000,1.189677,0.494340,0.753033,0.000000,0.061338,0.269643,1.514573,0.0,0.000000,0.000000,0.752330,0.000000
1803,0.284039,0.621515,0.000000,0.132186,0.350010,0.042510,0.380888,0.561338,0.269643,1.283053,0.0,0.000000,0.000000,0.794126,0.000000
1804,0.284039,0.888140,0.000000,0.061009,0.504650,0.000000,0.000000,0.000000,0.269643,1.208369,0.0,0.000000,0.000000,0.849854,0.000000
1805,1.530331,0.682466,0.000000,0.485452,0.816792,0.576288,0.752927,1.303083,0.000000,1.180980,0.0,0.000000,0.000000,0.974531,0.731042
1806,0.568078,0.000000,0.000000,0.411811,0.298464,0.224695,0.000000,0.000000,0.269643,1.171027,0.0,0.257233,0.000000,0.877718,0.000000

In [96]:
import pandas as pd
import numpy as np

# Reemplazar valores no numéricos por NaN y convertir a float
df_int_sin_date = df_int_sin_date.apply(pd.to_numeric, errors='coerce')
df_int_sin_date

,CO,NO2,NO,O3,SO2,PM10,eBC_tot,eBC_ff,eBC_bb,TEMP,RH,WS,WD,PRES,eBC
0,0.568078,0.000000,0.543702,32.122724,0.000000,0.291496,0.000000,0.000000,0.000000,0.095578,0.0,0.000000,0.012673,0.000000,0.000000
1,0.000000,0.000000,0.000000,28.302401,0.000000,0.000000,0.000000,0.000000,0.000000,0.005957,0.0,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,24.795282,0.000000,0.309715,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,21.588180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,18.667910,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,0.568078,0.164444,0.000000,1.189677,0.494340,0.753033,0.000000,0.061338,0.269643,1.514573,0.0,0.000000,0.000000,0.752330,0.000000
1803,0.284039,0.621515,0.000000,0.132186,0.350010,0.042510,0.380888,0.561338,0.269643,1.283053,0.0,0.000000,0.000000,0.794126,0.000000
1804,0.284039,0.888140,0.000000,0.061009,0.504650,0.000000,0.000000,0.000000,0.269643,1.208369,0.0,0.000000,0.000000,0.849854,0.000000
1805,1.530331,0.682466,0.000000,0.485452,0.816792,0.576288,0.752927,1.303083,0.000000,1.180980,0.0,0.000000,0.000000,0.974531,0.731042
1806,0.568078,0.000000,0.000000,0.411811,0.298464,0.224695,0.000000,0.000000,0.269643,1.171027,0.0,0.257233,0.000000,0.877718,0.000000

## Aumentar tamaño de la muestra +200

### Con GAN (Generative Adversarial Network)

In [97]:
import torch
import torch.nn as nn

import torch.nn.init as init

class Generator(nn.Module):
    def __init__(self, input_dim, output_dim):
        super(Generator, self).__init__()
        self.fc1 = nn.Linear(input_dim, 128)
        self.fc2 = nn.Linear(128, 256)
        self.fc3 = nn.Linear(256, 512)
        self.fc4 = nn.Linear(512, output_dim)
        self.relu = nn.ReLU()
        self.tanh = nn.Tanh()

        # Inicialización de los pesos
        self._initialize_weights()

    def _initialize_weights(self):
        # Inicialización de los pesos de las capas usando una distribución normal
        for layer in self.children():
            if isinstance(layer, nn.Linear):
                init.normal_(layer.weight, mean=0.0, std=0.02)  # Inicialización normal
                if layer.bias is not None:
                    init.constant_(layer.bias, 0)

    def forward(self, z):
        x = self.relu(self.fc1(z))
        x = self.relu(self.fc2(x))
        x = self.relu(self.fc3(x))
        x = self.tanh(self.fc4(x))  # Salida entre -1 y 1
        return x


class Discriminator(nn.Module):
    def __init__(self, input_dim):
        super(Discriminator, self).__init__()
        self.fc1 = nn.Linear(input_dim, 512)
        self.fc2 = nn.Linear(512, 256)
        self.fc3 = nn.Linear(256, 128)
        self.fc4 = nn.Linear(128, 1)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.relu(self.fc2(x))
        x = self.relu(self.fc3(x))
        x = self.fc4(x)  # No aplicar sigmoid aquí aún
        return self.sigmoid(x)  # Aplicar Sigmoid justo antes de la salida

# Dimensiones
latent_dim = 200 
input_dim = df_int_sin_date.shape[1]  # Número de características en los datos

# Crear el generador y el discriminador
generator = Generator(latent_dim, input_dim)
discriminator = Discriminator(input_dim)

# Definir las funciones de pérdida y optimizadores
adversarial_loss = nn.BCELoss()  # Pérdida binaria para GAN
optimizer_g = torch.optim.Adam(generator.parameters(), lr=0.0001, betas=(0.5, 0.999))  # Tasa de aprendizaje más baja
optimizer_d = torch.optim.Adam(discriminator.parameters(), lr=0.0001, betas=(0.5, 0.999))  # Tasa de aprendizaje más baja

epochs = 100
batch_size = 20

# Convertir los datos escalados a un tensor de PyTorch
df_tensor = torch.tensor(df_int_sin_date.values, dtype=torch.float32)

for epoch in range(epochs):
    for i in range(0, len(df_tensor), batch_size):
        real_data = df_tensor[i:i+batch_size]
        batch_size = real_data.size(0)

        # Etiquetas reales y falsas
        real_labels = torch.ones(batch_size, 1)
        fake_labels = torch.zeros(batch_size, 1)

        # ===== Entrenar el discriminador =====
        optimizer_d.zero_grad()

        # Pérdida para datos reales
        real_preds = discriminator(real_data)
        real_loss = adversarial_loss(real_preds, real_labels)

        # Pérdida para datos generados
        z = torch.randn(batch_size, latent_dim)
        fake_data = generator(z)
        fake_preds = discriminator(fake_data.detach())  # No calcular gradientes para los datos generados
        fake_loss = adversarial_loss(fake_preds, fake_labels)

        # Pérdida total para el discriminador
        d_loss = real_loss + fake_loss
        d_loss.backward()
        optimizer_d.step()

        # ===== Entrenar el generador =====
        optimizer_g.zero_grad()

        # Intentar que el generador engañe al discriminador
        fake_preds = discriminator(fake_data)
        g_loss = adversarial_loss(fake_preds, real_labels)  # Queremos que el discriminador piense que los datos generados son reales

        g_loss.backward()
        optimizer_g.step()

    if epoch % 20 == 0:
        print(f"Epoch [{epoch}/{epochs}] | D Loss: {d_loss.item()} | G Loss: {g_loss.item()}")

# Generar nuevos datos
z = torch.randn(200, latent_dim)  # 200 nuevas filas
generated_data = generator(z).detach().numpy()

# Convertir a DataFrame
generated_df = pd.DataFrame(generated_data, columns=df_int_sin_date.columns)

Epoch [0/100] | D Loss: 0.8829631209373474 | G Loss: 0.9417985081672668
Epoch [20/100] | D Loss: 0.002230583457276225 | G Loss: 8.805193901062012
Epoch [40/100] | D Loss: 0.004504697863012552 | G Loss: 5.612998008728027
Epoch [60/100] | D Loss: 0.003270220011472702 | G Loss: 5.001827239990234
Epoch [80/100] | D Loss: 0.00020414417667780071 | G Loss: 8.509308815002441

In [ ]:

# Mostrar los nuevos datos generados
generated_df = generated_df.clip(lower=0)
generated_df

### Con Transformers

In [42]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, Dataset
import pandas as pd
import numpy as np

# Dataset personalizado
class TabularDataset(Dataset):
    def __init__(self, data, feature_cols):
        self.features = torch.tensor(data[feature_cols].values, dtype=torch.float32)

    def __len__(self):
        return len(self.features)

    def __getitem__(self, idx):
        return self.features[idx]

# Modelo Transformer básico
class TabularTransformer(nn.Module):
    def __init__(self, input_dim, model_dim=64, num_heads=2, num_layers=2):
        super(TabularTransformer, self).__init__()
        self.embedding = nn.Linear(input_dim, model_dim)
        encoder_layer = nn.TransformerEncoderLayer(
            d_model=model_dim, nhead=num_heads, dim_feedforward=512, dropout=0.1
        )
        self.transformer = nn.TransformerEncoder(encoder_layer, num_layers=num_layers)
        self.decoder = nn.Linear(model_dim, input_dim)

    def forward(self, x):
        x = self.embedding(x).unsqueeze(1)  # Añade una dimensión temporal
        x = self.transformer(x).squeeze(1)  # Reduce la dimensión temporal
        return self.decoder(x)

# Preparar datos
feature_cols = list(df_int_sin_date.columns)  # Todas las columnas como características
train_dataset = TabularDataset(df_int_sin_date, feature_cols)
train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)

# Modelo
input_dim = len(feature_cols)
model = TabularTransformer(input_dim=input_dim)
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=1e-5)

# Entrenar el modelo
epochs = 10
model.train()
for epoch in range(epochs):
    for batch in train_loader:
        optimizer.zero_grad()
        output = model(batch)
        loss = criterion(output, batch)
        loss.backward()
        optimizer.step()
    print(f"Epoch {epoch+1}/{epochs}, Loss: {loss.item()}")

# Generar nuevas filas
model.eval()
n_generate = 200
with torch.no_grad():
    noise = torch.randn(n_generate, input_dim)  # Ruido aleatorio como entrada
    generated_features = model(noise).numpy()

# Crear DataFrame con las nuevas filas generadas
generated_data = pd.DataFrame(generated_features, columns=feature_cols)
generated_data = generated_data.clip(lower=0)


print(f"Tamaño del DataFrame original: {df_int_sin_date.shape}")
print(f"Tamaño del DataFrame combinado: {df_int_sin_date_aug.shape}")

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint64, uint32, uint16, uint8, and bool.

In [ ]:
generated_data = generated_data.clip(lower=0)
generated_data

In [ ]:
import pandas as pd

start_date = pd.to_datetime("2023-06-27 01:00:00+00:00")

new_dates = pd.date_range(start=start_date, periods=200, freq='H')

generated_data['date'] = new_dates

generated_data.insert(0, 'date', generated_data.pop('date'))

df_int_aug = pd.concat([df_int, generated_data], ignore_index=True)
df_int_aug

## Merge

In [ ]:
set(df_int["date"]).issubset(set(df_orig["date"]))

In [ ]:
df_orig[df_orig["date"] == df_int_aug["date"][0]]

In [ ]:
df_orig[df_orig["date"] == df_int_aug["date"][980]]

In [ ]:
df_orig[df_orig["date"] == df_int_aug["date"][1534]]

In [ ]:
df = pd.merge(df_orig, df_int_aug, how="left", on=["date"])

In [ ]:
nuevas_columnas = df_int_aug.columns.difference(df_orig.columns)

In [ ]:
nuevas_columnas

In [ ]:
df.loc[5798:5850, ["date"] + list(nuevas_columnas) + columns]

In [ ]:
sum(df["eBC_tot"].notna())

## Generación de datos sintéticos para black carbon ebc_tot

In [46]:
import torch
import pandas as pd
from sklearn.model_selection import train_test_split

# Identificar las filas con valores faltantes en 'eBC_tot'
df_complete = df[df['eBC_tot'].notna()]  # Filas donde eBC_tot tiene datos
df_missing = df[df['eBC_tot'].isna()]    # Filas donde eBC_tot es NaN
# Las columnas a usar para predecir eBC_tot
feature_cols = [col for col in df.columns if col not in ('eBC_tot', 'date')]

# Dataset para entrenamiento (solo con datos completos)
train_data = df_complete[feature_cols]
train_labels = df_complete['eBC_tot']

# Convertir a tensores para PyTorch
train_data_tensor = torch.tensor(train_data.values, dtype=torch.float64)
train_labels_tensor = torch.tensor(train_labels.values, dtype=torch.float32).view(-1, 1)

# Crear Dataset personalizado para entrenamiento
class TabularDataset(torch.utils.data.Dataset):
    def __init__(self, features, labels):
        self.features = features
        self.labels = labels

    def __len__(self):
        return len(self.features)

    def __getitem__(self, idx):
        return self.features[idx], self.labels[idx]

train_dataset = TabularDataset(train_data_tensor, train_labels_tensor)
train_loader = torch.utils.data.DataLoader(train_dataset, batch_size=32, shuffle=True)

NameError: name 'df' is not defined

In [ ]:
import torch.nn as nn
import torch.optim as optim

# Modelo Transformer para imputación
class TabularTransformer(nn.Module):
    def __init__(self, input_dim, model_dim=64, num_heads=2, num_layers=2):
        super(TabularTransformer, self).__init__()
        self.embedding = nn.Linear(input_dim, model_dim)
        encoder_layer = nn.TransformerEncoderLayer(
            d_model=model_dim, nhead=num_heads, dim_feedforward=512, dropout=0.1
        )
        self.transformer = nn.TransformerEncoder(encoder_layer, num_layers=num_layers)
        self.decoder = nn.Linear(model_dim, 1)  # Para predecir un valor (eBC_tot)

    def forward(self, x):
        x = self.embedding(x).unsqueeze(1)  # Añadir dimensión temporal
        x = self.transformer(x).squeeze(1)  # Reducir la dimensión temporal
        return self.decoder(x)  # Predicción de un solo valor (eBC_tot)

# Dimensiones del modelo
input_dim = len(feature_cols)
model = TabularTransformer(input_dim=input_dim)

# Pérdida y optimizador
criterion = nn.MSELoss()  # Usamos MSE para regresión
optimizer = optim.Adam(model.parameters(), lr=1e-4)

# Entrenar el modelo
epochs = 10
model.train()
for epoch in range(epochs):
    epoch_loss = 0
    for batch_data, batch_labels in train_loader:
        optimizer.zero_grad()
        output = model(batch_data)
        loss = criterion(output, batch_labels)
        loss.backward()
        optimizer.step()
        epoch_loss += loss.item()
    
    print(f"Epoch {epoch+1}/{epochs}, Loss: {epoch_loss/len(train_loader)}")

In [ ]:
# Predecir los valores faltantes de eBC_tot usando el modelo
df_missing_data = df_missing[feature_cols]
df_missing_data_tensor = torch.tensor(df_missing_data.values, dtype=torch.float32)

model.eval()  # Modo de evaluación
with torch.no_grad():
    predicted_values = model(df_missing_data_tensor).squeeze(1).numpy()

# Imputar los valores faltantes con las predicciones
df_missing['eBC_tot'] = predicted_values

# Concatenar los datos imputados con los datos completos
df_imputed = pd.concat([df_complete, df_missing], axis=0)
df_imputed

In [ ]:
sum(df_imputed["eBC_tot"].notna())

## Matriz de correlación entre vehiculos y variables de contaminación

In [ ]:
# Calcular la matriz de correlación
cols = [col for col in df_imputed.columns if col != 'date']
correlation_matrix = df_imputed[cols].corr()

# Mostrar la matriz
plt.figure(figsize=(40, 32))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', vmin=-1, vmax=1)
plt.title('Matriz de Correlación entre Variables de Contaminación y Meteorológicas')
plt.show()